{% extends 'base.html' %}

{% block content %}

  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
              <h1 class="title-single">Pracownicy</h1>
              <br>
              {% if user.is_authenticated %}
              <button onclick="window.location.href='{% url 'sprzedawca_new' %}'" class="btn btn-primary">Dodaj pracownika</button>
              {% endif %}
              <br>
              <table>
	            <tr>
                    <th>Lp</th>
                    <th>Imie i nazwisko</th>
                    <th>Szczegóły</th>
                </tr>
                  {% for sprzedawca in sprzedawcas %}
	            <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ sprzedawca.pracownik }}</td>
                    <td><button onclick="window.location.href='{% url 'sprzedawca_detail' pk=sprzedawca.pk %}'" class="btn btn-primary">Szczegóły</button></td>
                </tr>
                  {% endfor %}
              </table>

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}