{% extends 'base.html' %}

{% block content %}

  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
              <h1 class="title-single">Edytuj usługe/produkt</h1>
              <br>
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
              </form>
              <a href="{% url 'usluga_delete' pk=usluga.pk %}" class="btn btn-danger">Usuń usługe/produkt</a>
              <br>
              <br>
              <button onClick="history.back();" class="btn btn-primary">Powrót do listy usług/produktów</button>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}