{% extends 'base.html' %}

{% block content %}

  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
              <h1 class="title-single">Faktury</h1>
              <br>
              {% for faktura in fakturas %}
              {% if user.is_authenticated %}
              <button onclick="window.location.href='{% url 'faktura_new' %}'" class="btn btn-primary">Stwórz fakture</button>
              {% endif %}
              <br>
              <table>
	            <tr>
                    <th>Lp</th>
                    <th>Data</th>
                    <th>Pracownik</th>
                    <th>Szczegóły</th>
                </tr>
	            <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ faktura.create_date }}</td>
                    <td>{{ faktura.nabywca }}</td>
                    <td><button onclick="window.location.href='{% url 'faktura_detail' pk=faktura.pk %}'" class="btn btn-primary">Szczegóły</button></td>
                </tr>
              </table>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}